@charset "utf-8";

 body { padding: 0px; margin: 0px; overflow:scroll; background-color:#F7F4F4;}
/* header */
 .wrap_head {position:fixed; top:0%; width:100%; color:#fff; font-size:1.1em; font-weight:bold; text-align:center; 
               padding-top:0.7em; padding-bottom:0.7em; background:#1e88e5; box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45); z-index:1;}
	#main_btn {position:absolute; height:40%; left:0.7em; top:0.8em;}


#d-question {position:absolute; top:0em; width:100%; padding-bottom:0.5em; background-color: #FFFFFF; box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45);}/*상 좌 하 우*/
	.p-title {margin-top:3em; margin-left:3%; font-size:1.5em; font-weight:bold; color:#1E88E5;}
	.p-text {margin-left:3%; margin-top:-1em; font-size:1.2em; letter-spacing:-0.1em; line-height:1.6em;}

#d-oi-01 {position:absolute; width:100%; margin-top:1.3em;}
.ol-01 {background-color:#FFFFFF; border-top: 1px solid #999999; border-bottom: 1px solid #999999;}
.ol-02 {background-color:#FFFFFF; border-top: 1px solid #999999; border-bottom: 1px solid #999999;}
.ol-03 {background-color:#FFFFFF; border-top: 1px solid #999999; border-bottom: 1px solid #999999;}
	.li-top {list-style-type:decimal-leading-zero; font-size:1em; border-bottom: 1px solid #999999; padding:0.8em 0.8em 0.8em 0em; letter-spacing:-0.05em;}
	.li-mid {list-style-type:decimal-leading-zero; font-size:1em; border-bottom: 1px solid #999999; padding:0.8em 0.8em 0.8em 0em; letter-spacing:-0.05em;}
	.li-bot {list-style-type:decimal-leading-zero; font-size:1em; padding:0.8em 0.8em 0.8em 0em; letter-spacing:-0.05em;}
	 /* li img {position:absolute; right:2%; margin-top:0.2em; width: 1em;} */



/* 각 페이지 높이(height)를 100%로 해서 전체를 차지하게 함 */

#Qut1{height :100%;}
#Qut2{height :100%;}
#Qut3{height :100%;}


/* 페이지2(Qut2)와 페이지3(Qut3)을 먼저 안보이게함 */
#Qut2 {display:none;}
#Qut3 {display:none;}
