@charset "utf-8";



body {background-color:#1e88e5; margin:0; padding:0;}
.img-index-logo {position:absolute; top:30%; width:70%; right:50%; margin-right:-35%;}
.img-thatzit-logo {position:absolute; top:90%; width:40%; right:50%; margin-right:-20%;}